<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-use.pagePathModel="com.aurx.core.models.PagePropertieDetailsModel"/>
<sly data-sly-test.pageTitleList="${pagePathModel.pageTitleList}"/>

<sly data-sly-test="${pageTitleList}">
    <div data-sly-list.pageTitle="${pageTitleList}">
        <div>
            <h3>${pageTitle}</h3>
        </div>
    </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !pageTitleList, classAppend='cmp-text'}"/>


